
body {
    background-color: rgb(123, 7, 201);
    text-align: center;
    margin: 0;
    padding: 0;
}
ul {
    width: auto;
    float: right;
    margin-top: 8px;
}
li {
    display: inline-block;
    padding: 20px 20px 8px;
}
a {
    text-decoration: none;
    color:rgb(208, 158, 255);
    font-size: 2rem;
    text-align: center;
}
a:hover {
    color:rgb(80, 2, 133);
}


.profile-pic{
    height: 200px;
}
.navbar {
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(146, 61, 224);
}
nav-item {
    display: inline-block;
    position: absolute;
}